html {
    margin-right: 50px;
}

body {
    position: relative !important;
}

.skins_listing_bar {
    margin: 0 !important;
    border-left: 1px solid #ccc !important;
    padding: 10px 0 !important;
    width: 50px !important;

    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    overflow: auto;

    background-color: white !important;

    font: 14px/18px normal normal normal Helvetica, Arial, sans-serif !important;

    transition: all 0.2s linear !important;
    z-index: 10000 !important;
}

.skins_listing_bar.close {
    right: -51px !important;
}

.skins_listing_bar .tab {
    display: none;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-right: none !important;

    position: absolute !important;
    top: 20px !important;
    right: 50px !important;

    background-color: white !important;

    cursor: pointer !important;
}

.skins_listing_bar .tab::before {
    content: '>' !important;
}

.skins_listing_bar.close .tab::before {
    content: '<' !important;
}

.skins_listing_bar .scroll {
    border-radius: 5px;
    width: 10px;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #ddd;
    
    z-index: 10;
}

.skins_listing_bar ul {
    margin: 0 !important;
    padding: 0 !important;

    position: relative;
    overflow: visible !important;

    list-style-type: none !important;
}

.skins_listing_bar li {
    padding: 5px 10px !important;

    position: relative !important;

    background: none !important;

    text-align: center !important;
}

.skins_listing_bar a img {
    max-width: 30px !important;

    vertical-align: baseline !important;
}

.skins_listing_bar a.config {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.skins_listing_bar a.install {
    position: absolute !important;
    top: 16px !important;
    right: 0 !important;
}

.skins_listing_bar .description {
    display: none;
    padding: 5px !important;

    position: absolute !important;
    top: 100%;
    right: 100%;

    background-color: white !important;
    border: 1px solid #ccc !important;

    z-index: 20 !important;
}

.skins_listing_bar .description img {
    max-width: 200px !important;
    max-height: 200px !important;
}

@media print {
    .skins_listing_bar {
        display: none;
    }
}
