<!--#begin skins_listing -->
    <div class="skins_listing_bar">
        <div class="tab"></div>
        <ul>
            <!--#in getnext -->
                <li>
                    <a href="?tg=addon/skins_listing/theme&id={ id_addon }" title="{ title }">
                        <img src="{ iconpath }" alt="{ title }">
                    </a>
                    
                    <!--#if configurationurl -->
                        <a href="{ configurationurl }" class="config" title="Configuration du skin { title }">
                            <img src="{ babInstallPath }skins/ovidentia/templates/addons/skins_listing/settings.png" alt="Configuration" />
                        </a>
                    <!--#endif configurationurl -->
                    
                    <div class="description">
                        <div class="title">{ title }</div>
                        
                        <!--#if imagepath -->
                            <img class="preview" src="{ imagepath }" alt="Previsualisation de { title }" />
                        <!--#endif imagepath -->
                        
                        <!--#if description -->
                            <p>{ description }</p>
                        <!--#endif description -->
                    </div>
                </li>
            <!--#endin getnext -->
        </ul>
    </div>

    <script type="text/javascript">
        function createCookie(name,value,days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name,"",-1);
        }

        (function($) {
            $(document).ready(function() {
                if (readCookie('skins_listing_bar_close')) {
                    $('.skins_listing_bar').addClass('close');
                    $('html').css({ 'margin-right': 0 });
                }

                // Cacher la barre au clic sur le bouton

                $('.skins_listing_bar .tab').show().click(function() {
                    $(this).parent().toggleClass('close');
                    var padding = 0;
                    if (!$(this).parent().hasClass('close')) {
                        padding = 50;
                        eraseCookie('skins_listing_bar_close');
                    }
                    else {
                        createCookie('skins_listing_bar_close',true,1);
                    }
                    $('html').animate({ 'margin-right': padding + 'px' }, 200, 'linear');
                });

                // Affichage de la description au survol

                $('.skins_listing_bar li .description').hide();

                $('.skins_listing_bar li a').not('.config').removeAttr('title').hover(function(e) {
                    $(this).siblings('.description').show();
                }, function() {
                    $(this).siblings('.description').hide();
                });

                $('.skins_listing_bar li a').mousemove(function(e) {
                    $(this).siblings('.description').css({
                        top: e.offsetY + 10,
                        right: $(this).width() - e.offsetX - 10
                    })
                });
            });
        })(jQuery);
    </script>
<!--#end skins_listing -->
